<nav class="navbar navbar-default">
    <div class="container-fluid">
        <p><a href="/">Home</a></p>
        <p><a href="/add_car_form">Post Car Listing</a></p>
        <p><a href="/carListing">Car Listings</a></p>
        <p><a href="/searchCar">Search Car Listings</a></p>
        <p><a href="/searchResult">Search Results</a></p>
    </div>
</nav>
